.Dropdown {
  overflow-y: auto;
  max-height: 60vh;
}

.Dropdown-item {
  background: #f8f8fc;
  font-weight: 500;
  font-size: 17px;
}

.Dropdown-item:hover {
  background: #e0e0e0;
}

.Dropdown-item:active {
  background: var(--primaryColor);
}
