@value gray, darkBorder, yellow, darkerGray from "../../colors.css";

.Button {
  background: gray;
  border: 1px solid darkBorder;
  color: black;
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 2px;
  min-width: 100px;
  padding: 12px;
  text-transform: uppercase;
}

.Button-compact {
  min-width: 0;
}

.Button-primary {
  background: yellow;
  border: 1px solid yellow;
}

.Button-secondary {
  background: darkerGray;
  border: 1px solid darkerGray;
  color: white;
}

.Button-fluid {
  width: 100%;
}

.Button-disabled {
  opacity: 0.6;
}

.Button-basic {
  background: white;
  border-width: 3px;
  padding: 10px;
}

.Button-basic.Button-secondary {
  color: black;
}

.Button-half {
  width:50%
}
