@value primaryColor, borderGray, darkerGray from "../../../../colors.css";

.PhoneNumbers-List {
  list-style: none;
  margin: 0;
  padding: 0;
}

.PhoneNumbers-Element {
  position: relative;
  margin-bottom: 20px;
  background: white;
  border: 1px solid borderGray;
  box-sizing: border-box;
  box-shadow: cardShadow;
  border-radius: 2px;
  color: darkerGray;
  padding: 10px;
  width: 100%;
  position: relative;
  min-height: 90px;
}

.PhoneNumbers-Element a {
  display: block;
  text-align: center;
}

.PhoneNumber-Number {
  font-size: 1.5em;
  margin-bottom: 0;
}

.PhoneNumber-Type {
  margin-bottom: 5px;
  color: #909090;
}

.PhoneNumber-Delete {
  width: 32px;
  height: 32px;
  background-color: #000;
  display: inline-block;
  border: 2px solid #FFF;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, .25);
  position: absolute;
  top: -16px;
  right: -16px;
  color: #F8E71C;
}

.PhoneNumbers-Add {
  display: block;
  text-align: center;
}
