.Info-solid > g > g > circle {
  fill: var(--primaryColor);
}

.Info-large {
  width: 46px;
  height: 46px;
}

.Info-medium {
  width: 34px;
  height: 34px;
}

.Info-small {
  width: 26px;
  height: 26px;
}
