@import url(//fonts.googleapis.com/css?family=Open+Sans);

.About-container {
  line-height: 1.5;
  color: #222326;
  font-family: 'Open sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
}

.About-container p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.About-container a {
  font-family: 'Open sans', sans-serif;
  text-decoration: underline;
}

.About-container {
  overflow-y: scroll;
}

.About-title-container {
  padding: 30px 100px 30px 100px;
  background-color: #F8E81C;
  color: black;
}

.About-headline {
  font-size: 72px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.About-subheader {
  margin-bottom: 50px;
  font-size: 36px;
  text-align: center;
}

.About {
  padding: 100px;
  text-align: left;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
  line-height: 1.5;
}

.About h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: bold;
}

.About-title {
  font-weight: bold;
  font-size: 18px;
  color: #333 ;
  line-height: normal;
  margin-bottom: 30px;
  text-transform: nonee;
}

.About h3{
  font-weight: lighter;
  font-size: 32px;
}

.About h4 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px 0px;
}

.About a {
  font-weight: lighter;
  font-size: 12px;
  color: #444444;
  line-height: 0;
}

.About-Outreach {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.About-Outreach .social-proof {
  width: 150px;
  margin: 0px 15px 0px 15px;
}

.About-Outreach .social-proof img {
  width: 150px;
}

@media screen and (max-width: 470px) {
  .About {
    padding: 20px;
  }

  .About-headline {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .About-subheader {
    font-size: 24px;
  }

  .social-proof {
    margin: 0px 0px 15px 0px;
  }

  .About {
    font-size: 16px;
  }

  .About h3 {
    font-size: 24px;
  }

  .About h4 {
    font-size: 16px;
  }

  .About-title-container {
    padding: 20px;
  }
}
