@import url(//fonts.googleapis.com/css?family=Open+Sans);

.About-container {
  line-height: 1.5;
  color: #222326;
  font-family: 'Open sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  overflow-y: scroll;
}

.About-container p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.About-container a {
  font-family: 'Open sans', sans-serif;
  text-decoration: underline;
}

.About-banner {
  padding: 50px 100px 50px 100px;
  background-color: black;
  color: white;
}

.About-logo {
  width: 150px;
  height: 150px;
}

.About-headline {
  font-size: 72px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.About-subheader {
  font-size: 36px;
  text-align: center;
}

.About {
  padding: 0 100px 100px 100px;
  text-align: left;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
  line-height: 1.5;
}

.About-title {
  font-weight: bold;
  color: #333;
  line-height: normal;
  margin: 50px 0;
  text-transform: none;
}

.About-section {
  margin-bottom: 2em;
}

.About h3 {
  font-weight: lighter;
  font-size: 42px;
}

.About h4 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.About a {
  font-weight: lighter;
  font-size: 12px;
  color: #444444;
  line-height: 0;
}

.About-Outreach {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.About-Outreach .social-proof {
  width: 220px;
  margin: 30px 15px 0px 15px;
  text-align: center;
}

.About-Outreach .social-proof img {
  max-width: 220px;
  max-height: 100px;
}

@media screen and (max-width: 470px) {
  .About-banner {
    padding: 20px 20px 30px 20px;
  }

  .About-headline {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .About-subheader {
    font-size: 24px;
  }

  .About {
    padding: 0 20px 20px 20px;
    font-size: 16px;
  }

  .About-title {
    margin: 30px 0;
  }

  .About-Outreach .social-proof {
    width: 150px;
    margin: 0px 5px 15px 5px;
  }

  .About-Outreach .social-proof img {
    max-width: 150px;
    max-height: 100px;
  }

  .About h3 {
    font-size: 24px;
  }

  .About h4 {
    font-size: 16px;
  }
}
