.TextArea {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--borderGray);
}

.TextArea::placeholder {
  color: var(--placeholderGray);
  font-weight: 300;
  padding-right: 1em;
}

.TextArea-fluid {
  width: 100%;
}

.TextArea-rounded {
  border-radius: 20px;
}
