@value cardShadow: 0px 2px 4px rgba(0,0,0,0.15);
@value primaryColor, borderGray, darkerGray from "../../../colors.css";

.Option {
  background: white;
  border: 1px solid borderGray;
  box-sizing: border-box;
  box-shadow: cardShadow;
  border-radius: 2px;
  color: darkerGray;
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  position: relative;
}

.Option.Option-active {
  background: darkerGray;
  border: 1px solid darkerGray;
  color: primaryColor;
  font-weight: 300;
}
.Option.Option-disabled {
  opacity: 0.8;
}
.Option.Option-hide {
  display:none !important;
}

.Option.Option-active > .Icon {
  top: 14px;
  right: 10px;
  position: absolute;
}
