.OptionButton {
  background: white;
  border: 1px solid var(--borderGray);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
  border-radius: 2px;
  color: var(--darkerGray);
  cursor: pointer;
  padding: 18px 10px;
  width: 100%;
  position: relative;
}

.OptionButton.OptionButton-active {
  background: var(--darkerGray);
  border: 1px solid var(--darkerGray);
  color: white;
  font-weight: 300;
}

.OptionButton > .OptionButtonChildren {
  text-align: center;
  width: 50%;
}

.OptionButton > .OptionButtonIcon {
  left: 8%;
  position: absolute;
}
