.Selector.Selector-column > .Option {
  margin-bottom: 10px;
}
.Selector.Selector-row > .Option {
  margin-right: 3px;
}

.Selector.Selector-column > .Option.disable-padding {
  margin-bottom: 0px;
}
.Selector.Selector-row > .Option.disable-padding {
  margin-right: 0px;
}

.Selector.Selector-column.Selector-fluid > .Option {
  width: 100%;
}
.Selector.Selector-row > .Option {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 140px;
}
.Selector.Selector-row.Selector-fluid > .Option {
  flex: 1;
}

.Selector.Selector-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Selector {
	font-size: 0.75rem;
}
