.Selector.Selector-column > .Option {
  margin-bottom: 10px;
}
.Selector.Selector-row > .Option {
  margin-right: 10px;
}

.Selector.Selector-column > .Option.disable-padding {
  margin-bottom: 0px;
}
.Selector.Selector-row > .Option.disable-padding {
  margin-right: 0px;
}

.Selector.Selector-column.Selector-fluid > .Option {
  width: 100%;
}
.Selector.Selector-row.Selector-fluid > .Option {
  flex: 1;
}

.Selector.Selector-row {
  display: flex;
}

.Selector {
	font-size: 0.75rem;
}