@value primaryColor, gray from "../../../colors.css";

.locationHeader {
  background-color: gray;
  position: fixed;
  width: 100%;
  /* A bit of a hack: this is copied from Modal.css, to match its rounded corners. */
  border-radius: 20px 20px 0px 0px;
}
.locationHeader, .locationHeaderCopyToAvoidCoveringBody {
  padding-top: 17px;
  padding-bottom: 6px;
}
.locationHeaderCopyToAvoidCoveringBody {
  visibility: hidden;
}

.locationCloseButton {
  position: absolute;
  right: 17px;
}

.locationTitle {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}

.locationFieldHeader {
  font-size: 0.95rem !important;
  line-height: 1.33rem;
  margin: 4.5vh 0 0vh 0;
  padding-top: 1.2vh;
  width: 100%;
  border-top: 1px solid #dadada;
}

.categoryCard {
  background-color: #f8f8fc;
  border: 1px solid #dadada !important;
  border-radius: 2px;
  box-shadow: 0vw 2vw 2vw rgba(0,0,0,0.15) !important;
  margin-bottom: 4vh;
  margin-top: 2vh;
}

.serviceSection:last-of-type {
  border-bottom: none;
}

.serviceSection .expandArrow {
  display: inline-block;
  margin-right: 10px;
}

.serviceCategoryHeadersContainer {
  font-size: .85rem !important;
  display: flex;
  align-items: center;
  padding: 2vh 3vw;
}

.serviceCategoryHeadersContainer .categoryIcon {
  display: inline-block;
  margin-right: 10px;
}

.serviceCategoryHeaders {
  display: inline-block;
  font-weight: bold;
  line-height: 1.33rem;
  text-transform: uppercase;
  letter-spacing: 1.66px;
  margin: 0 !important;
  padding: 0 !important;
}

.specificServiceHeaders {
  line-height: 1.33rem;
  margin: 0 !important;
  border-top: 1px solid #DADADA;
  padding: 2vh 7vw;
  width: 100%;
  font-weight: bold;
}
.specificServiceHeaders.expandableHeaders {
  cursor: pointer;
}

.serviceDetails > div {
  padding: 1.3vh 7vw;
}

.categoryCard .serviceDescription {
  line-height: 160%;
  padding-bottom: 2vh;
  font-size: 0.85rem;
}

.detailPageCategories {
  font-size: 0.8rem !important;
  text-align: center;
  font-weight: bold;
  color: #4c4b4b;
  margin-top: 1.3rem;
}

.accessibilityText {
  font-size: 0.85rem;
}

.infoItem {
  padding-top: 4px;
  font-size: 0.85rem;
  line-height: 160%;
  padding-bottom: 0.45rem;
}

.serviceSchedule {
  border-top: 1px solid #d8d8ee;
  padding-top: 2vh;
  margin: 0 !important;
}

.locationLinks {
  color: primaryColor;
  border-bottom: 1px solid primaryColor;
  font-size: 0.85rem;
  cursor: pointer;
  padding: 2vh 0 0 0;
}

.coronavirusInfo {
  color: #A02733;
  font-weight: bold;
  white-space: pre-wrap;
}

.lastUpdateLine {
  font-size: 0.8rem;
  margin-top: 0.7rem;
}

.lastUpdateLine .updateText {
  margin-left: 1.7rem;
  margin-right: 1.7rem;
}

.lastUpdateLine.coronavirusInfo {
  font-weight: normal;
}

.lastUpdateLine.coronavirusInfo .updateTime {
  font-weight: bold;
}

.lastUpdateLine .lastUpdateIcon {
  float: left;
  width: 1.2rem;
  height: 1.2rem;
}
