@value primaryColor from "../../../colors.css";

.resultsBar {
	background-color: #ffffff;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2;
	padding: 0.5rem 1rem 0.5rem 1rem !important;
	box-shadow: 0px 8px 8px rgba(0,0,0, 0.33);
	text-align: left;
}

.resultsBarInner {
	display: flex;
	justify-content: space-between;
}

.resultsBarInner .iconWrapper {
	margin-left: 24px;
	align-self: flex-start;
}

.serviceCategory {
	font-size: .80rem;
	letter-spacing: 0.3px;
	color: #ffffff;
	width: 98%;
	text-transform: capitalize;
	font-weight: 600;
	line-height: 1rem;
	padding-bottom: 0.33rem;
}

.categoriesContainer {
	box-shadow: 0px -8px 4px rgba(0,0,0,.25);
	border-radius: 12px 12px 0px 0px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #FFFFFF;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.categoriesTitle {
	padding: 1rem 1rem 0.5rem 1rem;
	font-size: 1.1rem !important;
	font-weight: bold;
}

.buttonsContainer {
	display: flex;
	justify-content: space-around;
	padding: 0.25em 0.25em 0.8em 0.25em;
	width: 100%;
}

.categoryButton {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	width: 30%;
	height: 100px;
	min-width: 10px;
	border-radius: 2px;
	padding: 12px 0 12px 0;
	border: 1px solid primaryColor;
	background: primaryColor;
	font-size: .85rem;
}

.categoryButton > img {
	margin-bottom: 0.7em;
}

.mapHalfButton {
	width: 48%;
	margin-right: 1.5%;
	margin-left: 1.5%;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 0.85rem;
	letter-spacing: 0px !important;
	border-radius: 2px;
	min-height: 50px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}
