@value primaryColor from "../../../colors.css";

.voiceToText_btn{
	background-color: blue;
  min-height: 60px;
  border-radius: 100%;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.55);
  min-width: 60px;
	position: absolute;
	bottom: 42vh;
	right: 2vh;
	display: flex;
	align-content: center;
	align-items: center;
	padding: 0;
}

.voiceToText_icon{
	margin: 0 auto;
}

.backSearch{
	min-width: 50px;
	min-height: 50px;
	display: flex;
	align-content: center;
	align-items: center;
	background-color: #ffffff;
	justify-content: center;
	border-right: 2px solid rgba(20,0,255,0.5);
}

.backSearchChevron{
	display: flex;
	align-self: center;
}

.input-group{
	border: 2px solid primaryColor;
	border-radius: 2px;
}

.searchSubmit{
	min-width: 50px;
	min-height: 50px;
	display: flex;
	align-content: center;
	align-items: center;
	background-color: primaryColor;
	justify-content: center;
	border: none !important;
}
