.voiceToText {
	position: absolute;
	bottom: 44vh;
	right: 2vh;
}

.backSearch {
	min-width: 50px;
	min-height: 50px;
	display: flex;
	align-content: center;
	align-items: center;
	background-color: #ffffff;
	justify-content: center;
	border: 0;
	border-right: 2px solid rgba(20,0,255,0.5);
}

.backSearchChevron {
	display: flex;
	align-self: center;
}

.input-group {
	border: 2px solid var(--primaryColor);
	border-radius: 2px;
	background-color: #ffffff;
	flex: 1;
	align-items: center;
}

.searchSubmit {
	min-width: 50px;
	min-height: 50px;
	display: flex;
	align-content: center;
	align-items: center;
	background-color: var(--primaryColor);
	justify-content: center;
	border: none !important;
}

.searchHamburger {
	margin-left: 12px;
	margin-right: 12px;
	color: var(--primaryColor);
}
