.Header {
  font-size: 1.75em;
  margin-top: 24px;
  margin-bottom: 5px;
}

.Header-large {
  font-size: 21px;
  font-weight: bold;
}

.Header-medium {
  font-size: 17px;
  font-weight: bold;
}

.Header-small {
  font-size: 17px;
}
