.Button {
  background: #f2f2f2;
  border: 1px solid #b2b2b2;
  font-size: 0.75em;
  font-weight: 600;
  padding: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 3px;
  min-width: 100px;
}

.Button-primary {
  background: #f8e71c;
  border: 1px solid #f8e71c;
}

.Button-secondary {
  background: #323333;
  border: 1px solid #323333;
  color: #ffffff;
}

.Button-fluid {
  width: 100%;
}
