.Checkbox {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  margin: 0;
}

.Checkbox > .Box {
  vertical-align: middle;
}

.Checkbox > .Label {
  font-weight: initial;
  font-size: initial;
  letter-spacing: initial;
  line-height: normal;
  vertical-align: middle;
}

.Checkbox-disabled {
  opacity: 0.6;
}
