@value darkerGray, borderGray, primaryColor from "../../colors.css";

.SectionHeader {
  border: none;
  background: darkerGray;
  color: white;
  border-bottom: 1px solid borderGray;
  box-sizing: border-box;
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 11px;
}
