@value primaryColor from "../../../../colors.css";

.filtersHeader {
  font-size: 1rem !important;
  padding: 2rem 0rem 0.66rem 0rem;
  margin: 0 !important;
}

.hivContainer {
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid #dadada;
  margin-top: 1vh;
  display: flex;
}

input#hivNutrition-checkbox {
  cursor: pointer;
  min-width: 22px;
  min-height: 22px;
  margin-right: 5px;
}

.Label[for="hivNutrition-checkbox"]{
  color: #333333;
}
