@value primaryColor from "../../colors.css";

.ProgressBar {
  background-color: #565856;
  font-size: 14px;
  text-align: left;
  font-weight: lighter;
  padding: 0.25rem;
  position: relative;
}

.ProgressBarText {
  color: white;
  z-index: 1;
}

.ProgressBar > .ProgressBarValue {
  background-color: primaryColor;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  position: absolute;
}
