.Accordion .Item {
  border: none;
  background: white;
  border-top: 1px solid var(--borderGray);
  border-bottom: 1px solid var(--borderGray);
  box-sizing: border-box;
  color: var(--darkerGray);
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  text-align: left;
}

.Accordion .Item-active {
  background: var(--darkerGray);
  border-bottom: 1px solid var(--darkerGray);
  color: white;
}
